/* .doctor-logbook-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.doctor-logbook-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.students-table th, .students-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.students-table th {
    background-color: #201e1e;
}

.view-entries-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.view-entries-btn:hover {
    background-color: #0056b3;
}

.logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: darkred;
}
.doctor-logbook-layout {
    display: flex;
    height: 100vh;
}

.doctor-logbook-content {
    flex-grow: 1;
    padding: 20px;
} */
